<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>General Topics</h4>
    <ul>
      <li class="{% if page.title == "欢迎" %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">欢迎</a>
      </li>
      <li class="{% if page.title == "编码规范" %}current{% endif %}">
        <a href="{{ site.url }}/docs/coding-style">编码规范</a>
      </li>
      <li class="{% if page.title == "项目布局" %}current{% endif %}">
        <a href="{{ site.url }}/docs/project-layout">项目布局</a>
      </li>
    </ul>
    <h4>Django Projects</h4>
    <ul>
    </ul>
    <h4>Django Applications</h4>
    <ul>
      <li class="{% if page.title == "App设计准则" %}current{% endif %}">
        <a href="{{ site.url }}/docs/app-design-rules">App设计准则</a>
      </li>
    </ul>
    <h4>Deployment</h4>
    <ul>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
      <li class="{% if page.title == "如何贡献内容" %}current{% endif %}">
        <a href="{{ site.url }}/docs/how-to-contribute">如何贡献内容</a>
      </li>
    </ul>
    <h4>Great Readings</h4>
    <ul>
    </ul>
  </aside>
</div>
